* {
  box-sizing: border-box;
}

body {
  background-color: #131720;
  font-family: sans-serif;
}

h7 {
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #2e2756;
  padding: 10px;
}

.topnav .search-container {
  float: right;
}

form {
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  all: unset;
  font: 15px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

.thumbnail {
  height: 350px;
  width: 240px;
  border-radius: 19px;
  opacity: 0.5;
}

.thumbnail:hover{
  opacity: 1;
}

/*   
  .column {
    float:left;
    width: 100%;
    padding: 10px 10px;
  }
  
  .card{
    
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
  }

  .row{

    column-count: 4;
    column-fill: auto;
    width: 100%;
    column-rule: 5px solid red;
  }
  #section{
    display: flex;
    column-count: 3;
   
  }

   */

#section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  border-radius: 19px;
  padding: 12px;
  text-align: center;
  background-color: #151f30;
  justify-content: inherit;
}

.card .title {
  margin-top: 0.5rem;
  color: #dfd2d2e7;
  text-align: center;
  content: "\a";
  white-space: pre;
  line-break: strict;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.ytlink{
  text-decoration: none;
  color: blue;
}

.ytlink:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}